/* Barra de navegacion */
.navbar {
    padding: 2rem;
    background-color: rgb(224, 236, 248);
}

.navbar-collapse {
 align-items: center; /* Alinea los elementos en el centro*/
 justify-content: space-between; /* Justificamos el contenido pero, en este caso distribuimos el espacio entre los elementos*/

}

/*Estilos generales*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
h1 {
    font-size: 2.5rem; 
    font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
    }

.seccion-texto {
    font-size: 0.8rem;
}

.btn-info {
    font-size: 1.1rem;
    
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}


.seccion-oscura {
    color: white;
    background-color: #1b1b32;

}

.seccion-clara {
    color: black;
    background-color: white;
}


.seccion-titulo {
    font-size: 2rem; /* El tamaño de la letra va hacer el doble del elemento raíz*/
    padding: 15px 0; /* el padding es de 15px en la parte superior e inferior y 0 a la izquierda y a la derecha*/
    font-family: 'rubik Dirt', cursive; /*le colocamos el tipo de letra que obtuvimos de google font, y si es que ocurre algo la página debe cargar con Cursive.*/

}








/* Seccion Hero*/
 .hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
 }

 .hero-principal {
    padding: 3rem;
 }

 .hero-imagen-desarrollador {
width: 200px;
height: 200px;
border-radius: 50%;
margin: 20px;
 }

 .hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
 }

 /*sobre me*/
 .sobre-mi {
height: 500px;
padding: 10px;

 }

 .sobre-mi .contenedor {
 max-width: 600px;
 text-align: center; /*esta propiedad afecta solo la alineación del texto dentro del contenedor, no el contenedor en sí.*/
 margin: auto;
   
}


/*Experiencia*/
.experiencia {
    padding: 40px;
    
}

.experiencia .column {
   padding: 20px; 
   border: 2px solid #8080804d;
   flex-direction: column; /*Asignamos una dirección de columna*/
   align-items: center;
   justify-content: space-evenly;  /*porque queremos distribuir los elementos equitativamente en el eje principal, que en este caso el eje principal es el vertical ya que estamos asignando una direción de columna.*/
   transition: all 0.2s ease-in; /* */
}

.experiencia .column:hover { /* Nos permite asignar un estilo específico cuando el cursor o maus este encima de ese elemento */
color: white;
background-color: #1b1b32;
}


.experiencia-titulo {
   font-size: 25px; 
   font-weight: bold;
   margin: 10px 0;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}


.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10 0;
}

.badge {
    margin: 3px
}


/* Proyectos*/

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay { /* Se usa para colocar el contenido sobre una imagen */
transition: all 0.2s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}


.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
   opacity: 0.2; 
}

.proyecto:hover .overlay {
    opacity: 1;
}

 .overlay .iconos-contenedor { /* indicamos que los iconos se presenten en una sola fila*/
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .overlay .i {
    color: black;
    font-size: 60px;
    margin: 10px;
 }

 /* Adaptable (Responsivo)*/

@media screen and (max-width: 400px) { /* para cuando el dispositivo sea mas pequeño el texto tengs un tamaño mas pequeño*/
    .overlay p {
      font-size: 18px;  
    }
}

.overlay i {
   font-size: 40px;
}

 /*  Usamos una media query que le dice al navegador que: Si el dispositivo tiene tal dimensión , este estilo debría aplicarse en lugar del estilo por defecto.*/
@media screen and (max-width: 767px) { 
    .navbar-brand {
        display: none; /* ocultamos el ícono */
    }
}

@media screen and (min-width: /* ancho minímo de 700px , es decir a partir de los 700px se va aplicar este estilo*/700px) {
   .hero-inferior-imagen { 
    max-width: 600px; 
   } 
}